:root {
    color-scheme: light dark;
    supported-color-schemes: light dark;
}

.bi {
    width: 1em;
    height: 1em;
    vertical-align: -.125em;
    fill: currentColor;
}

.bd-navbar .dropdown-menu .active .bi {
    display:block !important
}

.highlight {
    transition: transform 0.5s ease-in-out;
}

.highlight:hover {
    transform: scale(1.1);
}

a:any-link, .nav-link {
    color: #d0604c;
}

.nav-link:hover {
    color: #f2e0d2 !important;
    background-color: var(--bs-body-color);
}

a.active {
    color: #f2e0d2 !important;
    background-color: var(--bs-body-color);
}

.dropdown-item.active, .dropdown-item:active {
    color: var(--bs-dropdown-link-active-color);
    text-decoration: none;
    background-color: #d0604c;
}